.glitch{
    height: 70vh;
}
.glitch__img{
    height: calc(70vh + 20px);
}
.xstartup{
    height: 50vh;
}
.avatar-block{
    text-align: center;
}
.avatar{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    width: 100%;
}
.avatar:after{
    content: '';
    display: block;
    padding-top: 100%;
}
.avatar-btn{
    display: inline-block;
    height: 54px;
    line-height: 54px;
    width: 150px;
    border: 1px solid #d5d5d5;
    text-align: center;
    font-weight: bold;
    color: #666;
    margin-top: 15px;
    border-radius: 15px;
    text-decoration: none;
}
.name{
    font-size: var(--font-size-5);

}

.profile-form{

}
.profile-form h6{
    font-size: var(--font-size-5);
}
.profile-form .group{
    display: flex;
    margin-top: 20px;
}
.profile-form .group label{
    flex: 0 0 100px;
    font-weight: bold;
    line-height: 47px;
}
.profile-form .group input{
    flex: 1;
    height: 47px;
    line-height: 47px;
    padding: 0 20px;
    border-radius: 15px;
    border: 1px solid #666;
    outline: none;
}
.profile-form button{
    display: inline-block;
    height: 48px;
    width: 240px;
    line-height: 48px;
    color: var(--text-2);
    border:none;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    background-color: var(--bg-4);
}

/*password*/

.change-pass-form h5{

}